<%= form_for(@user) do |f| %>
	<table class="table">
		<tr>
			<th>Week</th>
			<th>Favorite</th>
			<th>Line</th>
			<th>Dog</th>
		</tr>
		<% @games.each_with_index do |g, index| %>
			<% if (index %2 == 0) %>
				<tr>
				<td><%= g.week %></td>
				<td><%= check_box_tag "user[game_ids][]", g.id %><%= g.team %></td>
				<td><%= g.line %></td>
			<% else %>
				<td><%= g.team %></td>
				</tr>
			<% end %>
		<% end %>
	</table>
<%= f.submit %>
<% end %>