<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  	<div class="container">
	    <div class="brand"><%=link_to image_tag("Pickle.jpeg", :height => "30%", :width => "30%"), root_path %><%=link_to "Pickle", root_path %></div>
	    <ul class="nav">
	    	<% if user_signed_in? %>
		      <li><%= link_to "Home", root_path %></li>
		      <li><%= link_to "Picks", edit_user_path(current_user) %></li>
		      <li><a href="#">Account</a></li>
		      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
		    <% else %>
		      <li><%= link_to "Sign up", new_user_registration_path %></li>
		      <li><%= link_to "Login", new_user_session_path %></li>
		    <% end %>
	    </ul>
	</div>
  </div>
</div>